.topnav {
    height: 40px;
}
body{
    padding-top: 5px !important;
}

.flex-container div{
    
}
.flex-container{
    display: inline-flex;
    
}

ul{
    list-style-type: none;
}

hr{
    margin-top:7px;
    margin-bottom:7px;
}

.input{
    max-width:100% !important;
    width: 100%;
}

.inline-div{
    display: inline !important;
}

.aligned-label{
    text-align: left;
}


.form-input {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: white !important;
    background-image: none !important;
    border-radius: 4px !important;
}